@use "../../../styles/screen";
.wallet-screen {
  color: #002045;
  .wallet-tabs {
    display: flex;
    gap: 10px;
  }
  .wallet-tabs button {
    height: 34px;
    padding: 0;
    border: 1px solid #e2e8f0;
    border-radius: 17px;
    background: #fff;
    color: #4a5568;
    font-size: 12px;
  }
  .wallet-tabs .active {
    border: 1.5px solid #b2f5ea;
    background: #e6f7f4;
    color: #183a78;
    font-weight: 700;
  }
  .wallet-tabs button:nth-child(1) {
    width: 80px;
  }
  .wallet-tabs button:nth-child(2) {
    width: 102px;
  }
  .wallet-tabs button:nth-child(3) {
    width: 82px;
  }
  .wallet-tabs button:nth-child(4) {
    width: 59px;
  }
  .wallet-record {
    min-height: 94px;
    margin-top: 12px;
    padding: 12px;
    border: 1.5px solid #e2e8f0;
    border-radius: 16px;
    background: #fff;
  }
  .wallet-tabs + .wallet-record {
    margin-top: 26px;
  }
  .wallet-record div {
    display: flex;
    justify-content: space-between;
  }
  .wallet-record h3 {
    margin: 0;
    font-size: 14px;
  }
  .wallet-record div span {
    padding: 5px 12px;
    border-radius: 11px;
    background: #dcfce7;
    color: #48bb78;
    font-size: 10px;
  }
  .wallet-record p {
    margin: 8px 0 0;
    color: #4a5568;
    font-size: 12px;
    line-height: 15px;
  }
  .wallet-record p + p {
    margin-top: 3px;
    color: #718096;
    font-size: 11px;
  }
  .wallet-record .orange {
    background: #feebc8;
    color: #ed8936;
  }
  .wallet-record .orange-text {
    color: #ed8936;
  }
}
